<p>
    <form method="POST" action="add.php">
    <p>Opret en ny træningsform:</p>
    <input type="text" name="name" maxlength="30" placeholder="value" autofocus="on" autocomplete="off"/>
    <input type="submit" value="Opret"/>
    </form>
</p>
<p>{{ errormsg }}</p>