<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <title>Træningsmakker</title>
</head>
<body>
<h2><a href="index.php">Styrke</a></h2>
{{ content|raw }}
</body>
</html>